@media (min-width: 768px) {
    span.left-menu-text {
        font-size: 13px;
    }
    .left-side-menu{
        position: fixed;
        max-width: 250px;
        margin-left: 20px;
    }
}

@media (min-width: 992px) {
    span.left-menu-text {
        font-size: 16px;
    }
    .left-side-menu{
        position: fixed;
        max-width: 250px;
        margin-left: 20px;
    }

}

@media (max-width: 992px) {
    .modal-content{
        height: 370px;
    }
}



@media only screen and (max-width: 576px){
    .tweet-footer{
        padding-left: 10px !important;
    }
}

.clear{
    clear: both;
}

.left-menu-text{
    margin-left: 10px;
}

.tweet-head .user-avatar img, .user-avatar-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tweet-head .tweet-user-link-area{
    font-size: 14px;
}

.tweet-head .tweet-user-link-area .user-name{
    margin-top: 3px;
    margin-left: 10px;
    font-size: 16px;
}

.tweet-head .tweet-user-link-area .user-username{
    color: #888;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.tweet-head .tweet-datetime{
    color: #888;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.tweet-body{
    padding-left: 60px;
    margin-top: -20px;
    margin-bottom: 15px;
}

.tweet-footer{
    padding-left: 60px;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

.cp { /*  cursor pointer */
    cursor: pointer;
}

.tweet-btn-in-left-menu{
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    outline: none;
    padding: 10px 0;
    box-shadow: none !important;
}

.whole-tweet-link{
    text-decoration: none !important;
    color: black !important;
}

.single-page-tweet-datetime {
    border-top: 1px solid #eee;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding: 5px 0;
    padding-left: 5px;
    color: #999;
    font-size: 15px;
}

.post-tweet-form-group{
    padding: 10px;
}

.post-tweet-form-group textarea{
    float: left;
    max-width: 500px;
    border: none;
    outline: none;
    height: 230px;
    margin-bottom: 10px;
    resize: none;
    box-shadow: dodgerblue 0 0 5px 0;
}

.post-tweet-form-group textarea:focus{
    box-shadow: none;
}

.post-tweet-form-group button{
    float: right;
}

.post-tweet-form-group img{
    float: left;
    margin: 10px;
}

#message-alert-custom{
    position: fixed;
    display: none;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #FFF;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9;
    min-height: fit-content;
    padding: 5px;
}

@media (max-width: 768px) {
    #message-alert-custom{
        top: 15px;
    }
}

#message-alert-text{
    text-align: center;
    margin: 0;
}

#bottom-menu a {
    text-align: center;
    color: #FFF;
    padding-bottom: 5px;
    padding-top: 3px;
}

#bottom-menu button{
    background-color: #34a0fe;
    border: none;
    color: #FFF;
    font-size: 28px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    padding: 0 10px 5px 10px;
    border-radius: 50%;
    outline: none;
}

.container-fluid-bottom-menu{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.active-line{
    border-bottom: 2px solid #FFF;
}

.user-display-name{
    font-size: 24px;
}

.user-image img {
    max-width: 110px;
    max-height: 110px;
    border-radius: 50%;
}

#edit-user-info-btn{
    background-color: #fff;
    outline: none;
    border: none;
    box-shadow: 0 0 1px 1px #19a0ff;
    border-radius: 20px;
    padding: 5px 10px;
    color: #1e9af1;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

#edit-user-info-btn:hover{
    background-color: rgb(30 154 241 / 0.1);
}

.user-username{
    color: #888;
}

.joined-date {
    color: #888;
}

.user-following{
    float: left;
    margin-right: 30px;
}

.tc{
    text-align: center;
}

.bold{
    font-weight: bold;
}
.follow-count{
    font-weight: bold;
}

.follow-count span{
    font-weight: normal;
}

.gray{
    color: #888;
}

.user-timeline{
    padding-top: 20px;
}

.user-timeline-actions{
    margin-bottom: 10px;
}

.user-timeline-actions .timeline-action{
    padding: 7px 0;
    border-bottom: 0.01em solid #eee;
    cursor: pointer;

}

.user-timeline-actions .timeline-action.active{
    color: #1e9af1;
    border-bottom: 2px solid #1e9af1;
}

.user-timeline-actions .timeline-action:hover{
    color: #1e9af1;
    background-color: rgb(30 154 241 / 0.07);
}

.tweet .likes-count{
    font-size: 13px;
}

.tweets-list .tweet-footer{
    color: #777;
}

.bi-heart-fill{
    display: none;
}

.show{
    display: inline-block;
}

.hide{
    display: none;
}

.like-tweet{
    width: 25px;
}

.red-heart{
    color: red;
}


.delete-tweet{
    float: right;
    color: #777;
    padding: 4px 9px;
    border-radius: 17px;
}

.delete-tweet:hover{
    color: red;
    background-color: rgb(255 0 0 / 0.06);

}

.delete-confirm-modal-content{
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    max-width: 240px;
}

#tweet-id-to-delete{
    display: none;
}

#delete-tweet-btn{
    background-color: #e0245e;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 30px;
    padding: 7px 20px;
    margin-top: 15px;
    color: white;
}

#cancel-delete-tweet{
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 30px;
    padding: 7px 20px;
    margin-top: 15px;
}

.delete-alert{
    background-color: #f90852 !important;
}

.tweet-post-alert{
    background-color: #34a0fe;
}

.profile-holder-head{
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 40px;
    position: fixed;
    z-index: 9;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 63px;
}

.profile-holder-head img{
    width: 36px;
    float: left;
    border-radius: 20px;
    margin: 0 15px 0 0;
}

@media (max-width: 768px) {
    .m-top-47{
        margin-top: 47px;
    }
    .m-top-63{
        margin-top: 63px;
    }
}


.left-menu-active{
    background-color: rgb(0 123 255 / 0.1);
}


.profile-head-btn button{
    outline: none;
    border: none;
    box-shadow: 0 0 1px 1px #19a0ff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

#edit-user-info-btn{
    background-color: #fff;
    color: #1e9af1;
    padding: 5px 10px;
}

#follow-user-btn{
    background-color: #2fa9ff;
    padding: 5px 20px;
    color: #ffffff;
    transition: all .4s;
}

#follow-user-btn:hover{
    background-color: #fff;
    color: #2fa9ff;
    box-shadow: 0 0 2px 1px #2fa9ff;
}

#unfollow-user-btn{
    background-color: #f90852;
    padding: 5px 20px;
    color: #ffffff;
    transition: all .4s;
    box-shadow: none;
}

#unfollow-user-btn:hover{
    box-shadow: 0 0 3px 1px #f90852;
}

#edit-profile-modal .modal-content{
    height: fit-content !important;
}

#invalid-email, #valid-email{
    display: none;
}

#invalid-username, #valid-username{
    display: none;
}

.user-bio{
    margin: 10px 0;
}

.tweet-text{
    overflow-wrap: anywhere;
}

.go-home-btn{
    border: none;
    color: #fff;
    background-color: #1e9af1;
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 20px;
    outline: none !important;
}

.go-home-btn:hover{
    box-shadow: 0 0 2px 3px rgb(30 154 241 / 0.4);
}

.user-username a{
    text-decoration: none;
    color: #888;
}

.icon-holder-div{
    display: inline-block;
    border-radius: 20px;
    padding: 0;
}

@media (min-width: 768px) {
    .love-icon:hover {
        box-shadow: 0 0 0 4px #fff0f0;
        background-color: #fff0f0;
        color: red;
    }
}

hr{
    margin-top: 5px;
}

.retweet-icon{
    padding: 0 5px;
}
.retweet-icon:hover{
    box-shadow: 0 0 0 4px #dcffec;
    background-color: #dcffec;
    color: #1d9453;
}

.retweet-head{
    color: #888 !important;
    padding-left: 35px;
}

.retweet-head:hover{
    text-decoration: underline !important;
}

.profile-name-link{
    color: #888 !important;
}

.profile-name-link .user-name{
    color: #444;
}
.profile-name-link:hover .user-name{
    text-decoration: underline !important;
}

.tweet .retweet-count {
    font-size: 13px;
}

.top-line{
    height: 3px;
    width: 0%;
    background-color: #19a0ff;
    display: none;
}

.user-followers a:hover{
    text-decoration: underline !important;
    cursor: pointer;
}

.user-following a:hover{
    text-decoration: underline !important;
    cursor: pointer;
}

.users-list .row {
    margin: 5px 0;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
}

.users-list .row:last-child{
    border-bottom: none;
}

.users-list .row img {
    width: 50px;
    border-radius: 30px;
}

#followingsModal .modal-body{
    padding: 5px 0;
    text-align: center;
}

.users-list .row button{
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
}

.users-list .row button.follow-btn:hover{
    color: #fff;
    background-color: #19a0ff;
}

.users-list .row button.unfollow-btn:hover{
    color: #fff;
    background-color: #f90852;
}

.users-list .row a:hover{
    cursor: pointer;
}

.users-list .button-holder{
    display: flex;
    align-items: center;
}

.users-list .user-display-name{
    font-size: 1rem;
    color: #222;
}

.users-list .user-bio{
    font-size: 0.9rem;
}

.users-list .user-info-holder, .users-list .user-bio-holder{
    text-align: left;
}

#followingsModal .modal-content{
    overflow-x: hidden;
    height: fit-content;
    max-height: 95vh;
    overflow-y: scroll;
}

.unfollow-btn{
    background-color: #f9085208;
    color: #f90852;
    padding: 2px 10px;
    box-shadow: 0 0 1px 1px #f90852;
}

.follow-btn{
    background-color: #19a0ff0d;
    color: #19a0ff;
    padding: 2px 20px;
    box-shadow: 0 0 1px 1px #19a0ff;
}

#followersModal .modal-body{
    padding: 5px 0;
    text-align: center;
}

.tweet-footer-bookmark{
    padding: 0;
    text-align: center;
}