@media (min-width: 768px) {
    span.left-menu-text {
        font-size: 13px;
    }
    .left-side-menu{
        position: fixed;
        max-width: 250px;
        margin-left: 20px;
    }
}

@media (min-width: 992px) {
    span.left-menu-text {
        font-size: 16px;
    }
    .left-side-menu{
        position: fixed;
        max-width: 250px;
        margin-left: 20px;
    }

}

@media (max-width: 992px) {
    .modal-content{
        height: 370px;
    }
}

@media (max-width: 768px) {

}

@media only screen and (max-width: 576px){
    .tweet-footer{
        padding-left: 10px !important;
    }
}

.clear{
    clear: both;
}

.left-menu-text{
    margin-left: 10px;
}

.tweet-head .user-avatar img, .user-avatar-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tweet-head .tweet-user-link-area{
    font-size: 14px;
}

.tweet-head .tweet-user-link-area .user-name{
    margin-top: 3px;
    margin-left: 10px;
    font-size: 16px;
}

.tweet-head .tweet-user-link-area .user-username{
    color: #888;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.tweet-head .tweet-datetime{
    color: #888;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.tweet-body{
    padding-left: 60px;
}

.tweet-footer{
    padding-left: 60px;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

.cp { /*  cursor pointer */
    cursor: pointer;
}

.tweet-btn-in-left-menu{
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    outline: none;
    padding: 10px 0;
    box-shadow: none !important;
}

.whole-tweet-link{
    text-decoration: none !important;
    color: black !important;
}

.single-page-tweet-datetime {
    border-top: 1px solid #eee;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding: 5px 0;
    padding-left: 5px;
    color: #999;
    font-size: 15px;
}

.post-tweet-form-group{
    padding: 10px;
}

.post-tweet-form-group textarea{
    float: left;
    max-width: 500px;
    border: none;
    outline: none;
    height: 230px;
    margin-bottom: 10px;
    resize: none;
    box-shadow: dodgerblue 0 0 5px 0;
}

.post-tweet-form-group textarea:focus{
    box-shadow: none;
}

.post-tweet-form-group button{
    float: right;
}

.post-tweet-form-group img{
    float: left;
    margin: 10px;
}

#message-alert-custom{
    position: fixed;
    display: none;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #34a0fe;
    color: #FFF;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9;
    min-height: fit-content;
    padding: 5px;
}

@media (max-width: 768px) {
    #message-alert-custom{
        top: 15px;
    }
}

#message-alert-text{
    text-align: center;
    margin: 0;
}

#bottom-menu a {
    text-align: center;
    color: #FFF;
    padding-bottom: 5px;
    padding-top: 3px;
}

#bottom-menu button{
    background-color: #34a0fe;
    border: none;
    color: #FFF;
    font-size: 28px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    padding: 0 10px 5px 10px;
    border-radius: 50%;
    outline: none;
}

.container-fluid-bottom-menu{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.active-line{
    border-bottom: 2px solid #FFF;
}

.user-display-name{
    font-size: 24px;
}

.user-image img {
    max-width: 110px;
    max-height: 110px;
    border-radius: 50%;
}

#edit-user-info-btn{
    background-color: #fff;
    outline: none;
    border: none;
    box-shadow: 0 0 1px 1px #19a0ff;
    border-radius: 20px;
    padding: 5px 10px;
    color: #1e9af1;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

#edit-user-info-btn:hover{
    background-color: rgb(30 154 241 / 0.1);
}

.user-username{
    color: #888;
}

.joined-date {
    color: #888;
}

.user-following{
    float: left;
    margin-right: 30px;
}

.tc{
    text-align: center;
}

.bold{
    font-weight: bold;
}
.follow-count{
    font-weight: bold;
}

.follow-count span{
    font-weight: normal;
}

.gray{
    color: #888;
}

.user-timeline{
    padding-top: 20px;
}

.user-timeline-actions{
    margin-bottom: 10px;
}

.user-timeline-actions .timeline-action{
    padding: 7px 0;
    border-bottom: 0.01em solid #eee;
    cursor: pointer;

}

.user-timeline-actions .timeline-action.active{
    color: #1e9af1;
    border-bottom: 2px solid #1e9af1;
}

.user-timeline-actions .timeline-action:hover{
    color: #1e9af1;
    background-color: rgb(30 154 241 / 0.07);
}

.tweet .likes-count{
    font-size: 13px;
}

.tweets-list .tweet-footer{
    color: #777;
}
