<!-- Modal -->
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content delete-confirm-modal-content">
      <div class="tc">
        <h5 class="modal-title" id="confirm-delete-modal-label" style="color: #777;">Delete Tweet?</h5>
      </div>
        <div id="tweet-id-to-delete"></div>
      <div class="delete-tweet-modal-body" style="color: #777; margin-top: 10px;">
            This tweet will be removed from your profile.
      </div>
      <div class="tc">
        <button type="button" class="btn btn-secondary" id="cancel-delete-tweet" data-dismiss="modal">Close</button>
        <button type="button" class="btn" id="delete-tweet-btn">Delete</button>
      </div>
    </div>
  </div>
</div>