<!-- Followings Modal -->
<div class="modal fade" id="followingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Followings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <input type="hidden" name="followings-count" value="10" id="followings-count-input">
        <input type="hidden" name="followings-skip-count" value="0" id="followings-skip-count-input">
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>


<!-- Followers Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <input type="hidden" name="followers-count" value="10" id="followers-count-input">
        <input type="hidden" name="followers-skip-count" value="0" id="followers-skip-count-input">
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>