{% extends 'base.html' %}


{% block content %}
{% include 'left_side_menu.html' %}


<div class="col-xs-12 col-sm-12 col-md-8 offset-md-3 col-lg-6 m-top-63">
    <div class="time-line" data-spy="scroll" class="scrollspy-example" data-target="#list-example">
        {% if not_found %}
        <div class="user-info">
            <div class="user-image">
                <img src="{{ url_for('static', filename='/img/person.png') }}">
                <div class="clear"></div>
            </div>
            <div class="user-bio-stuff">
                <div class="user-username" style="color: #000; padding: 5px 10px; font-size: 21px; font-weight: bold;">@{{ username }}</div>
                <br><hr><br>
                <h4 class="tc">This account doesn’t exist</h4>
            </div>
        </div>

        {% else %}
            <div class="user-info">
                <div class="user-image">
                    <img src="{{ user.avatar_path }}">
                    <div class="clear"></div>
                </div>
                <div class="user-bio-stuff">
                    {% if user == current_user %}
                    <div class="edit-user-info-btn profile-head-btn">
                        <button id="edit-user-info-btn">Edit profile</button>
                    </div>
                    {% else %}
                    <div class="follow-user-btn profile-head-btn">
                    {% if is_this_user_followed_by_current_user %}
                        <button id="unfollow-user-btn">Unfollow</button>
                    {% else %}
                        <button id="follow-user-btn">Follow</button>
                    {% endif %}
                    </div>
                    {% endif %}
                    <div class="user-display-name"><b>{{ user.display_name or user.username }}</b></div>
                    <div class="user-username">@{{ user.username }}</div>
                    <div class="user-bio">{{ user.bio or '' }}</div>
                    <div class="clear"></div>
                    <div class="joined-date">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                            <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        Joined {{ user.confirmed_at.strftime('%B %Y') }}
                    </div>
                    <div class="follow-count">
                        <div class="user-following">{{ user.followings.count() }} <span style="color: #888">Following</span></div>
                        <div class="user-followers">{{ user.followers.count() }} <span style="color: #888">Followers</span></div>
                    </div>
                </div>
            </div>

            <div class="user-timeline">
                <div class="row user-timeline-actions">
                    <div class="col-6 tc gray bold timeline-action active">Tweets</div>
                    <div class="col-6 tc gray bold timeline-action">Likes</div>
                </div>
                <div class="bio-tweet-separator"></div>
                <div class="tweets-list">

                </div>
            </div>

            <script>
            const u_id = "{{ user.id }}";
            const avatar_path = "{{ user.avatar_path }}";
            const display_name = "{{ user.display_name or user.username }}";
            const username = "{{ user.username }}";
            const current_user = "{{ current_user.username }}";
            </script>

        {% endif %}
    </div>
</div>


<div class="col-lg-3 d-none d-lg-block right-content-body">
todo -> user media, search input
</div>


{% include 'post_tweet.html' %}

{% include 'message_alert.html' %}
<div class="container-fluid-bottom-menu">
    {% include 'bottom_side_menu.html' %}
</div>
{% include 'confirm_deletion.html' %}


{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/profile_script.js') }}"></script>
{% endblock %}